@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-cream: #fef7e5;
  --color-cream-dark: #e8e1d1;
  --color-blue-light: #c5d5ee;
  --color-blue: #b4c3da;
  --color-blue-dark: #9faec1;
  --color-purple-light: #a798af;
  --color-purple: #97839f;
  --color-purple-dark: #856d8f;
  --color-spruce-light: #a6c2b3;
  --color-spruce: #8bac9b;
  --color-spruce-dark: #839f90;
  --color-green-light: #749b7c;
  --color-green: #698c6e;
  --color-green-dark: #5b7961;
  --color-red: #be6464;
  --color-black-transparent: rgb(0, 0, 0, 70%);
  --color-gray: #9ca3af;
}

html {
  scroll-padding-top: 30px;
}

/* Replacing with other styles for accessibility */
:focus,
:focus-visible {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply capitalize font-great-vibes;
}
h1 {
  @apply text-6xl sm:text-7xl;
}
h2 {
  @apply text-5xl sm:text-6xl;
}

p {
  @apply py-1 indent-4 sm:indent-6;
}
a {
  @apply underline underline-offset-4;
}

.text-shadow {
  text-shadow: 1px 1px black;
}

.banner {
  @apply relative flex flex-col items-center justify-center w-screen h-[300px] sm:h-[700px] pb-4 sm:pb-8;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.banner > * {
  grid-area: 1 / 1 / 2 / 2;
}

.story {
  @apply flex justify-center px-4 py-6 transition duration-500 ease-in-out sm:px-12 sm:py-8 bg-spruce-light;
}
.story > div {
  @apply max-w-3xl my-auto transition-transform duration-1000 ease-in-out motion-reduce:transition-none;
}

/* Radio inputs */
.radio-group input[type="radio"] + label {
  @apply border-r;
}
.radio-group .radio-last input[type="radio"] + label {
  @apply border-r-0;
}

.radio-group input[type="radio"]:checked + label {
  background-color: var(--color-spruce);
}

.radio-group .radio-first > input[type="radio"] + label {
  @apply rounded-l-md;
}
.radio-group .radio-last > input[type="radio"] + label {
  @apply rounded-r-md;
}

.radio-group input[type="radio"]:focus + label,
.radio-group input[type="radio"]:focus-visible + label,
.radio-group input[type="radio"]:hover + label {
  background-color: var(--color-green-light);
}

/* Carousel */
.carousel-root .carousel .thumb:focus,
.carousel-root .carousel .thumb:hover {
  @apply border-spruce-light;
}
.carousel-root .carousel .thumb.selected {
  @apply border-green;
}
