@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-cream: #fef7e5;
  --color-blue: #c5d5ee;
  --color-purple: #a798af;
  --color-green: #a6c2b3;
  --color-green-dark: #749b7c;
}
